
body{
	margin: 0;
  font-family: "Segoe UI";
	background-color:#e5e5e5;
}

header{
	height: 80px;
  min-width: 768px;
	max-width:1920px;
  background-color: #00171F;
	display: block;
}

header .logoWrapper{
	float:left;
	margin:8px 0 0 56px;
}

header ul{
	margin:0;
	list-style: none;
	float:right;
}

header ul li{
	padding:3px;
	color:white;
	display:inline-block;
	text-transform:uppercase;
	font-size:14px;
}

header ul li a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
  font-size: 14px;
}

header ul li a img{
	width:18px;
}

.formWrapper{
  background-color:#FFF;
	margin:0px auto;
	max-width: 1024px;
	min-width: 768px;
}

.formWrapper .tabWrapper{
	position: relative;
	width:100%;
}

.formWrapper .tabWrapper ul{
	margin:0;
	padding:0;
	height:60px;
	list-style: none;
}

.formWrapper .tabWrapper ul li{
	margin: 0px;
	display: inline-block;
	height: 60px;
	width: 33.33%;
	float:left;
	font-weight:bold;
	//cursor: pointer;
	opacity:0.7;
}

.formWrapper .tabWrapper ul li img{
	width:45px;
	margin-top:5px;
	float:left;
}

.formWrapper .tabWrapper ul li span{
	line-height:55px;
}

.tabActive{
	opacity:1 !important;;
}

//.tabWrapper ul li:hover {
  //opacity: 1;
//}

.tabWrapper ul li:first-child{
	background-color: #5DB7DE;
}

.tabWrapper ul li:nth-last-child(2){
	background-color: #61988e;
}

.tabWrapper ul li:last-child{
	background-color: #F56A20;
}

#personalDetails{
	display:block;
}

#professionalDetails {
	display: none;
}


#professionalDetailsFresher {
	display: none;
}

#professionalDetailsLessThanYear {
	display: none;
}

#professionalDetailsMoreThanYear {
	display: none;
}

#locationAndResumeDetails {
	display: none;
}

.error {
	display: none;
	position: absolute;
	margin: 0px 120px;
	top:65px;
	right: 0;
	left: 0;
	height: 45px;
	background-color: #FFF; 
	border: 2px solid #f93943;
	border-radius: 3px;
}

#error-text {
	color: #f93943;
	line-height: 41px;
	font-weight: bold;
	padding: 0px 24px;
	font-size: 14px;
	overflow: hidden;
}

#error-close {
	float: right;
	background-color: #f93943;
	border: 0;
	color: #FFF;
	width: 50px;
	height: 45px;
	text-align: center;
	font-weight: 700;
	font-size: 22px;
	line-height: 40px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

#error-close:hover {
	background-color: #FFF;
	color: #f93943;
}

.form {
	display: block;
	width: 424px;
	margin: auto;
}

.form-group {
	margin-top: 15px;
}

.form-group label {
	display: block;
	font-weight: 600;
}

.form-group input[type="text"]{
	width: 320px;
	border:0;
	border-bottom: 2px solid #EEE; 
	transition: width 0.5s;
	height: 40px;
}

.form-group input[type="text"]:focus{
	border-bottom-color:lightblue;
	width: 420px;
}

.errorText{
	border-bottom-color: red !important;
}

.correctText{
	border-bottom-color: green !important;
}

.form input[type="submit"],.form .proceed{
	margin-top:10px;
	margin-bottom:20px;
	background-color:#5DB7DE;
	border-radius:2px;
	font-size:15px;
	color:white;
	border:0;
	padding:10px;
	transition:all .5s;
}

.form button{
	margin-top:15px;
	border:2px solid #5DB7DE;
	background-color:#FFF;
	padding:10px;
	font-weight: 700;
	color:#5DB7DE;
	font-size:15px;
	border-radius:2px;
	transition:all .5s;
	margin-bottom:20px;
}

.exp-active {
	background-color: #5DB7DE !important;
	color: #FFF !important;
	box-shadow: none !important;
}

.form button:hover,.form input[type="submit"]:hover{
	box-shadow:0 0 4px #7DAAD0;
	cursor: pointer;	
}

.form select{
	width:320px;
	height:40px;
	margin-top:10px;
	transition:width .5s;
}

.form select:focus{
	width:100%;
}

.formSelectError{
	  box-shadow: 0 0 4px red !important;
}

.formSelectRight{
		box-shadow: 0 0 4px #079360 !important;
}

.form select option{
	height:40px;
	font-size:14px;
	font-weight:300;
}

fieldset{
	border: 1px solid #EEE;
  padding: 14px 24px;
	width: 100%;
	margin-top: 20px;
} 

legend {
	font-weight: 700;
	color: #888;
	text-transform: uppercase;
	font-size: 14px;
}

.currentCompanyTab{
	display:none;
}

.radioField{
	margin-top:10px;
}

textarea{
	width:464px;
	border:1px solid #eee;
	padding:5px;
	font-size:15px;
	height:70px;
	resize:none;
}

footer{
	display:block;
	text-align:center;
	min-width: 768px;
	max-width:1024px;
	margin:0 auto;
	color:white;
	padding: 12px 0px;
	background-color:#00171F;
}

footer span{
	font-size: 13px;
}

.overlay-alert {
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display:none;
}

.alert-heading {
	margin: 0px auto;
	width: 100%;
	height: 45px;
	background-color: #050517;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	font-weight: bold;
	font-size: 13px;
	color: #FFF;
	padding: 0px 24px;
	overflow: hidden;
	line-height: 45px;
	box-sizing: border-box;
}

.customAlert{
	display: none;
	background-color:#FFF;
	width: 420px;
	margin: 240px auto;
	border-radius: 3px;
}

#alertContent{
	padding:12px 24px;
	margin:0px auto;
}
#alertContent > span{
	font-size: 14px;	
}

#alertContinue{
	padding:24px;
	text-align: right;
}
#continue{
	border:1px solid #050517;
	background-color:#FFF;
	height: 35px;
	font-size:15px;
	font-weight: 400;
	color: #050517;
	text-transform: uppercase;
	font-size: 13px;
	border-radius:3px;
	cursor: pointer;
	transition: background 0.4s ease-in-out;
}

#continue:hover {
	background-color: #050517;
	color: #FFF;
}