body{
  margin:0;
  padding:0;
  font-family: "Palatino Linotype", "Book Antiqua", serif;
  min-width:700px;
  position:relative;
}

.head-text{
  min-width:700px;
  display: block;
  padding:14px 0;
  height:30px;
  background-color: #258ea6;
}

h2{ 
  font-weight: bold;
  margin:0;
  width:90%;
  margin-left:10%;
  float:left;
  color:#FFF;
}

.head-text img{
  width:35px;
  padding:0;
  position:fixed;
  right:50%;
  left:400px;
  top:8px;
  z-index: 1;
  transition: all 2s ease-in-out;
  cursor:pointer;
}

.head-text img:hover{
  transform: rotate(-180deg);
}

#search{
  clear:both;
  margin:0;
  top:0;
  right:0%;
  display:block;
  background-color:blueviolet;
  padding:10px;
  position:sticky;
  height:35px;
  box-shadow:0 4px 4px grey;
}

#isearch{
  background-image: url('../images/search.png');
  background-repeat:no-repeat;
  border:none;
  padding:8px 8px 8px 34px;
  background-size: 32px;
  border-radius:5px;
  outline:none;
  width:15%;
  transition: width 0.4s;
  float:right;
}

#isearch:focus{
  width:20%;
}

#bird{
  width:30px;
  margin-left:20px;
  float:left;
  transition:width .4s ease-in-out;
}

#bird:hover{
  width: 34px;
  cursor:pointer;
}

#writelogo{
  float:left;
  padding:5px;
  color:white;
  font-weight:bold;
}

#writelogo a{
  text-decoration: none;
  color:#FFF;
}

#writelogo a:hover{
  color:#DDD;
}

.para{
  width: 360px;
  border:1px solid #DDD;
  margin:5% 0 5% 4%;
  float:left;
  cursor: pointer;
  box-shadow: 3px 2px 4px rgba(0,0,0,0.15), 4px 4px 4px rgba(0,0,0,0.11);
}

.para:hover
{
  border-color:#000;
}

.image-inside{
  width:360px;
  height:202.5px;
  overflow:hidden;
}

.image-box{
  display:block;
  width:360px;
  height:202.5px;
  transition:all .6s ease-in-out;
}

.image-box:hover{
  width:720px;
  height:459px;
}

.para p{
  text-align: justify;
  text-indent: 20px;
  padding:10px;
  display:none;
  font-size:20px;
}

.para span{
  display: block;
  clear:both;
  text-align:center;
  padding:12px;
  font-size: 18px;
}

.back{
  position:absolute;
  overflow:hidden;
  display: none;
  background-color:rgba(0,0,0,.9);
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:1;
}

.open{
  display:block;
  text-indent: 50px;
  text-align: justify;
  color:white;
  font-size:20px;
  padding:20px;
  margin-top: 50px;
}

.close{
  display:block;
  color:white;
  font-size:50px;
  font-weight:bold;
  float:right;
  margin-right:20px;
  cursor: pointer;
}

.close:hover{
  color: #DDD;
}

.imageOpen{
  width:800px;
  margin:80px auto 40px auto;
  display:block;
}

.aboutUs{
  clear:both;
  border:1px solid #DDD;
  margin:0 50px;
}

.aboutUs-title{
  padding: 10px 20px;
}

.aboutUs-title h1{
  margin:0;
}

.aboutUs-image{
  display:inline-block;
  margin:10px 10px 30px 0;
}

.aboutUs-image img{
  width:360px;
  height:360px;
  border-radius:50%;
}

.aboutUs-content{
  display:block;
  width:65%;
  float:left;
  padding:20px;
  text-align:justify;
  text-indent:25px;
  font-size:18px;
}

.lowest{
  clear:both;
  background-color:blueviolet;
}

.lowest-up-text{
  text-align:right;
  margin:0 50px;
  padding:10px;
  color:white;
  font-size:24px;
  font-family:myFontsStyle;
  font-weight:bold;
}

.lowest-text-head{
  color: #DDD;
  font-size:40px;
  font-family:myPrepare;
}

.lowest-text{
  font-size:40px;
  color: #FFF;
  font-family: myFonts;
}

@font-face{
  font-family:myFonts;
  src:url(../Fonts/Allura-Regular.otf);
}

@font-face{
  font-family:myFontsStyle;
  src:url(../Fonts/Butterfly-Kids-regular.woff);
}

@font-face{
  font-family:myPrepare;
  src:url(../Fonts/Archistico_Simple.ttf);
}


.form-hidden{
  display:none;
  background-color:rgba(0,0,0,0.9);
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  z-index:1;
  overflow:hidden;
}

.form-contents{
  font-family:'Segoe UI';
  margin-top:50px;
  border-radius: 4px;
  width:410px;
  margin:100px auto;
  box-sizing:border-box;
  box-shadow:0 0 8px #706c61;
  background-color:#FFF;
  overflow: hidden;
  position:relative;
}

.form-head , .form-foot{
  text-align:center;
  color: #fff;
  height:40px;
  background-color: #5F5AA2;
  padding-top:8px;
}

.form-foot span>a{
  text-decoration: none;
  color:#fff;
}

.form-foot span>a:hover{
  color:#9ba0bc;
}

.form-head h3{
  margin:0;
}

.group{
  display:block;
  position:relative;
  margin: 40px 0 0 50px;
}

.Material{
  border:0;
  font-size:18px;
  border-bottom:1px solid #797270;
  width:300px;
  padding:5px 0 5px 5px;
  font-family: 'Segoe UI Light';
  font-weight:100;
}

label{
  position: absolute;
  pointer-events: none;
  left:2px;
  top:5px;
  font-size:20px;
  font-weight: 200;
  color:#A9ACA9;
  transition:.8s ease all;
}

.Material:focus ~label{
  top:-25px;
  font-size:18px; 
  color:#5F5AA2;
  font-weight:200;
}

.activeLabel{
  top:-25px;
  font-size:18px;
  color:#5F5AA2;
  font-weight:200;
}

.bar{
  position: relative;
  display:block;  
  width:310px;
}

.bar:before, .bar:after{
  content:'';
  position:absolute;
  height:2px;
  width:0;
  bottom:0px;
  background-color:#5F5AA2;
  transition:.8s ease all;
}

.bar:before{
  left: 50%;
}

.bar:after{
  right: 50%;
}

.Material:focus ~.bar:after,.Material:focus ~.bar:before{
  width:50%;
}

.error{
  display:none;
  top:200px;
  position:absolute;
  width:100%;
  text-align:center;
}

#error-text{
  color:#cc5a71;
}

input[type="submit"]{
  width:305px;
  padding:10px 0;
  background-color:#D2D1D2;
  border-radius:4px;
  border:0;
  font-weight: bold;
  font-size:15px;
  color:#4f4789;
  cursor: pointer;
  transition:.3s ease-in-out all;
}

input[type="submit"]:hover{
  color:#fff;
  background-color:#4f4789;
}

.nam{
  color:#B5BEC6;
}

.form-foot {
  margin-top:40px;
}
