body{
	font-family:'Segoe UI';
	margin-top:50px;
}

section{
	border-radius: 4px;
	width:410px;
	margin:auto;
	box-sizing:border-box;
	box-shadow:0 0 8px #706c61;
	overflow: hidden;
	position:relative;
}

section>header , section>footer{
	text-align:center;
	color: #fff;
	height:40px;
	background-color: #5F5AA2;
	padding-top:8px;
}

section>footer>span>a{
	text-decoration: none;
	color:#fff;
}

section>footer>span>a:hover{
	color:#9ba0bc;
}

section>header>h3{
	margin:0;
}

.group{
	display:block;
	position:relative;
	margin: 40px 0 0 50px;
}

.Material{
	border:0;
	font-size:18px;
	border-bottom:1px solid #797270;
	width:300px;
	padding:5px 0 5px 5px;
	font-family: 'Segoe UI Light';
	font-weight:100;
}

label{
	position: absolute;
	pointer-events: none;
	left:2px;
	top:5px;
	font-size:20px;
	font-weight: 200;
	color:#A9ACA9;
	transition:.8s ease all;
}

.Material:focus ~label{
	top:-25px;
	font-size:18px;	
	color:#5F5AA2;
	font-weight:200;
}

.activeLabel{
	top:-25px;
	font-size:18px;
	color:#5F5AA2;
	font-weight:200;
}

.bar{
	position: relative;
  display:block;	
	width:310px;
}

.bar:before, .bar:after{
	content:'';
	position:absolute;
	height:2px;
	width:0;
	bottom:0px;
	background-color:#5F5AA2;
	transition:.8s ease all;
}

.bar:before{
	left: 50%;
}

.bar:after{
	right: 50%;
}

.Material:focus ~.bar:after,.Material:focus ~.bar:before{
	width:50%;
}

.error{
	display:none;
	top:200px;
	position:absolute;
	width:100%;
	text-align:center;
}

#error-text{
	color:#cc5a71;
}

section>form>.group>input[type="submit"]{
	width:305px;
	padding:10px 0;
	background-color:#D2D1D2;
	border-radius:4px;
	border:0;
 	font-weight: bold;
	font-size:15px;
	color:#4f4789;
	cursor: pointer;
	transition:.3s ease-in-out all;
}

section>form>.group>input[type="submit"]:hover{
	color:#fff;
	background-color:#4f4789;
}

.nam{
	color:#B5BEC6;
}

footer{
	margin-top:40px;
}